In [29]:
import pandas as pd

In [30]:
from io import StringIO

In [31]:
Data = '{"employee_name": "james", "email": "smrutishreemisra@hmail.com", "job": [{"title1": "team lead"}]}'

df = pd.read_json(StringIO(Data))
df

  employee_name                       email                      job
0         james  smrutishreemisra@hmail.com  {'title1': 'team lead'}

In [32]:
df.to_json()

'{"employee_name":{"0":"james"},"email":{"0":"smrutishreemisra@hmail.com"},"job":{"0":{"title1":"team lead"}}}'

In [33]:
df.to_json(orient = 'index')

'{"0":{"employee_name":"james","email":"smrutishreemisra@hmail.com","job":{"title1":"team lead"}}}'

In [34]:
df.to_json(orient = 'records')

'[{"employee_name":"james","email":"smrutishreemisra@hmail.com","job":{"title1":"team lead"}}]'

In [35]:
df= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [36]:
df.to_csv("wine.csv")

In [40]:
!pip install lxml
!pip install html5lib

Requirement already satisfied: lxml in c:\users\smrut\anaconda3\envs\smrutienv\lib\site-packages (6.0.2)
Requirement already satisfied: html5lib in c:\users\smrut\anaconda3\envs\smrutienv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\smrut\anaconda3\envs\smrutienv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\smrut\anaconda3\envs\smrutienv\lib\site-packages (from html5lib) (0.5.1)

In [41]:
import pandas as pd

url_html = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
df_list = pd.read_html(url_html)

print(len(df_list))       # Number of tables found
print(df_list[0].head())  # Display first table

1
                               Bank Name          City         State   Cert  \
0           The Santa Anna National Bank    Santa Anna         Texas   5520
1                   Pulaski Savings Bank       Chicago      Illinois  28611
2     The First National Bank of Lindsay       Lindsay      Oklahoma   4134
3  Republic First Bank dba Republic Bank  Philadelphia  Pennsylvania  27332
4                          Citizens Bank      Sac City          Iowa   8758

               Acquiring Institution      Closing Date  Fund  Sort ascending
0          Coleman County State Bank     June 27, 2025                 10549
1                    Millennium Bank  January 17, 2025                 10548
2             First Bank & Trust Co.  October 18, 2024                 10547
3  Fulton Bank, National Association    April 26, 2024                 10546
4          Iowa Trust & Savings Bank  November 3, 2023                 10545

In [44]:
url_wiki = 'https://en.wikipedia.org/wiki/Mobile_country_code'
df_country = pd.read_html(url_wiki, match='Country', header=0)
print(df_country[0].head())
#it did not allow accessing

HTTPError: HTTP Error 403: Forbidden

In [46]:
# Install openpyxl for .xlsx files
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

Empty DataFrame
Columns: []
Index: []

In [48]:
df_excel = pd.read_excel('sampledata.xlsx')

      Name  Age
0    robin   21
1  michael   22
2   smithi   23
3   smithi   34

In [54]:
df_excel.to_pickle('df_excel')

In [55]:
pd.read_pickle('df_excel')

      Name  Age
0    robin   21
1  michael   22
2   smithi   23
3   smithi   34