In [1]:
import sqlite3

In [2]:
#connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
###create a table
cursor.execute('''
Create table if not exists employees(
                id integer Primary Key,
                name Text Not Null,
                age Integer,
                Department text
                )
            ''')
## commit the changes
connection.commit()

In [5]:
##insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
                values("Krish",32,"data scientist")

''')
cursor.execute('''
Insert Into employees(name,age,department)
                values("nish",32,"data scientist")

''')
cursor.execute('''
Insert Into employees(name,age,department)
                values("bob",32,"data scientist")

''')
connection.commit()

In [6]:
## Query the data from sqlite
cursor.execute('Select * from employees')
rows = cursor.fetchall()

##print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(3, 'bob', 32, 'data scientist')
(4, 'Krish', 34, 'data scientist')
(5, 'nish', 32, 'data scientist')
(6, 'bob', 32, 'data scientist')
(7, 'Krish', 34, 'data scientist')
(8, 'nish', 32, 'data scientist')
(9, 'bob', 32, 'data scientist')
(10, 'Krish', 32, 'data scientist')
(11, 'nish', 32, 'data scientist')
(12, 'bob', 32, 'data scientist')

In [7]:
cursor.execute('''
UPDATE employees
Set age = 34
where name = "Krish"
''')
connection.commit()

In [8]:

cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(3, 'bob', 32, 'data scientist')
(4, 'Krish', 34, 'data scientist')
(5, 'nish', 32, 'data scientist')
(6, 'bob', 32, 'data scientist')
(7, 'Krish', 34, 'data scientist')
(8, 'nish', 32, 'data scientist')
(9, 'bob', 32, 'data scientist')
(10, 'Krish', 34, 'data scientist')
(11, 'nish', 32, 'data scientist')
(12, 'bob', 32, 'data scientist')

In [9]:
##delete the data
cursor.execute('''
DELETE from employees
               where name = "nish"
''')

connection.commit()

In [10]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(3, 'bob', 32, 'data scientist')
(4, 'Krish', 34, 'data scientist')
(6, 'bob', 32, 'data scientist')
(7, 'Krish', 34, 'data scientist')
(9, 'bob', 32, 'data scientist')
(10, 'Krish', 34, 'data scientist')
(12, 'bob', 32, 'data scientist')

In [11]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

In [12]:
cursor.executemany('''
INSERT INTO sales (date, product, sales, region)
VALUES (?, ?, ?, ?)
''', [
    ('2025-01-03', 'Laptop', 12, 'North'),
    ('2025-01-03', 'Smartphone', 25, 'South'),
    ('2025-01-04', 'Tablet', 9, 'East'),
    ('2025-01-04', 'Headphones', 30, 'West'),
    ('2025-01-05', 'Laptop', 15, 'South'),
    ('2025-01-05', 'Smartwatch', 7, 'North'),
    ('2025-01-06', 'Tablet', 11, 'West'),
    ('2025-01-06', 'Laptop', 20, 'East'),
    ('2025-01-07', 'Smartphone', 18, 'North'),
])

In [13]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2025-01-03', 'Laptop', 12, 'North')
(2, '2025-01-03', 'Smartphone', 25, 'South')
(3, '2025-01-04', 'Tablet', 9, 'East')
(4, '2025-01-04', 'Headphones', 30, 'West')
(5, '2025-01-05', 'Laptop', 15, 'South')
(6, '2025-01-05', 'Smartwatch', 7, 'North')
(7, '2025-01-06', 'Tablet', 11, 'West')
(8, '2025-01-06', 'Laptop', 20, 'East')
(9, '2025-01-07', 'Smartphone', 18, 'North')
(10, '2025-01-07', 'Headphones', 22, 'South')
(11, '2023-01-01', 'ProductA', 100, 'North')
(12, '2023-01-02', 'ProductB', 150, 'South')
(13, '2023-01-03', 'ProductC', 200, 'East')
(14, '2023-01-04', 'ProductD', 250, 'West')
(15, '2025-01-03', 'Laptop', 12, 'North')
(16, '2025-01-03', 'Smartphone', 25, 'South')
(17, '2025-01-04', 'Tablet', 9, 'East')
(18, '2025-01-04', 'Headphones', 30, 'West')
(19, '2025-01-05', 'Laptop', 15, 'South')
(20, '2025-01-05', 'Smartwatch', 7, 'North')
(21, '2025-01-06', 'Tablet', 11, 'West')
(22, '2025-01-06', 'Laptop', 20, 'East')
(23, '2025-01-07', 'Smartphone', 18, 'North')
(24, '2023-01-01', 'ProductA', 100, 'North')
(25, '2023-01-02', 'ProductB', 150, 'South')
(26, '2023-01-03', 'ProductC', 200, 'East')
(27, '2023-01-04', 'ProductD', 250, 'West')
(28, '2025-01-03', 'Laptop', 12, 'North')
(29, '2025-01-03', 'Smartphone', 25, 'South')
(30, '2025-01-04', 'Tablet', 9, 'East')
(31, '2025-01-04', 'Headphones', 30, 'West')
(32, '2025-01-05', 'Laptop', 15, 'South')
(33, '2025-01-05', 'Smartwatch', 7, 'North')
(34, '2025-01-06', 'Tablet', 11, 'West')
(35, '2025-01-06', 'Laptop', 20, 'East')
(36, '2025-01-07', 'Smartphone', 18, 'North')

In [14]:
sales_data = [
    ('2023-01-01', 'ProductA', 100, 'North'),
    ('2023-01-02', 'ProductB', 150, 'South'),
    ('2023-01-03', 'ProductC', 200, 'East'),
    ('2023-01-04', 'ProductD', 250, 'West')
]
cursor.executemany(
    'INSERT INTO sales (date, product, sales, region) VALUES (?, ?, ?, ?)',
    sales_data
)
connection.commit()

In [15]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2025-01-03', 'Laptop', 12, 'North')
(2, '2025-01-03', 'Smartphone', 25, 'South')
(3, '2025-01-04', 'Tablet', 9, 'East')
(4, '2025-01-04', 'Headphones', 30, 'West')
(5, '2025-01-05', 'Laptop', 15, 'South')
(6, '2025-01-05', 'Smartwatch', 7, 'North')
(7, '2025-01-06', 'Tablet', 11, 'West')
(8, '2025-01-06', 'Laptop', 20, 'East')
(9, '2025-01-07', 'Smartphone', 18, 'North')
(10, '2025-01-07', 'Headphones', 22, 'South')
(11, '2023-01-01', 'ProductA', 100, 'North')
(12, '2023-01-02', 'ProductB', 150, 'South')
(13, '2023-01-03', 'ProductC', 200, 'East')
(14, '2023-01-04', 'ProductD', 250, 'West')
(15, '2025-01-03', 'Laptop', 12, 'North')
(16, '2025-01-03', 'Smartphone', 25, 'South')
(17, '2025-01-04', 'Tablet', 9, 'East')
(18, '2025-01-04', 'Headphones', 30, 'West')
(19, '2025-01-05', 'Laptop', 15, 'South')
(20, '2025-01-05', 'Smartwatch', 7, 'North')
(21, '2025-01-06', 'Tablet', 11, 'West')
(22, '2025-01-06', 'Laptop', 20, 'East')
(23, '2025-01-07', 'Smartphone', 18, 'North')
(24, '2023-01-01', 'ProductA', 100, 'North')
(25, '2023-01-02', 'ProductB', 150, 'South')
(26, '2023-01-03', 'ProductC', 200, 'East')
(27, '2023-01-04', 'ProductD', 250, 'West')
(28, '2025-01-03', 'Laptop', 12, 'North')
(29, '2025-01-03', 'Smartphone', 25, 'South')
(30, '2025-01-04', 'Tablet', 9, 'East')
(31, '2025-01-04', 'Headphones', 30, 'West')
(32, '2025-01-05', 'Laptop', 15, 'South')
(33, '2025-01-05', 'Smartwatch', 7, 'North')
(34, '2025-01-06', 'Tablet', 11, 'West')
(35, '2025-01-06', 'Laptop', 20, 'East')
(36, '2025-01-07', 'Smartphone', 18, 'North')
(37, '2023-01-01', 'ProductA', 100, 'North')
(38, '2023-01-02', 'ProductB', 150, 'South')
(39, '2023-01-03', 'ProductC', 200, 'East')
(40, '2023-01-04', 'ProductD', 250, 'West')

In [16]:
connection.close()

In [17]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.